@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
@import "tailwindcss";

* {

    box-sizing: border-box;
}

@theme {
    --color-green: oklch(76.5% 0.177 163.223);
    --color-beige: oklch(98.7% 0.022 95.277);
    --color-white: #ffffff;
    --color-dark-green: #058563;
    --color-black: #000000;
    --color-gray: #0101100;
    --color-chumbo: oklch(20.5% 0 0);

    --font-text: 'Roboto', sans-serif;
    --font-title: 'Oswald', sans-serif;
}

body {
    background-color: var(--color-black);
}

@layer utilities {
    .font-text {
        font-family: var(--font-text);
        font-weight: 700;
    }

    .font-title {
        font-family: var(--font-title);
        font-weight: 600
    }

    .border-nav {
        border-bottom: solid 0.1px;
        border-color: rgb(21, 21, 21);
    }

}

@layer base {
    section {
        min-height: 45rem;
        width: 100%;
    }
}