@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=TikTok+Sans:opsz,wght@12..36,300..900&display=swap');
@import "tailwindcss";
@import "tailwindcss-animated";

* {
    box-sizing: border-box;
}

html,
body {
    overflow-x: hidden;
    width: 100%;
}


@theme {
    --color-green: oklch(76.5% 0.177 163.223);
    --color-beige: oklch(98.7% 0.022 95.277);
    --color-white: #ffffff;
    --color-light-green: oklch(84.5% 0.143 164.978);
    --color-dark-green: #058563;
    --color-black: #000000;
    --color-gray: #010100;
    --color-light-black: #101010;
    --color-chumbo: oklch(21% 0.006 285.885);
    --color-lgray: rgb(21, 21, 21);
    --color-red: rgb(256, 0, 0);

    --font-text: 'Roboto', sans-serif;
    --font-title: 'Oswald', sans-serif;
    --font-title-alt: 'Inter';
    --font-title-app: 'Lato', sans-serif;
    --font-text-app: 'TikTok Sans', sans-serif;
}

body {
    background-color: var(--color-black);
}

@layer utilities {
    .font-text {
        font-family: var(--font-text);
        font-weight: 700;
    }

    .font-title {
        font-family: var(--font-title);
        font-weight: 600
    }

    .font-title-alt {
        font-family: var(--font-title-alt);
        font-weight: 800;
        letter-spacing: -1px;
    }

    .font-text-small {
        font-family: var(--font-text);
        font-weight: 400;
    }

    .font-text-alt {
        font-family: var(--font-title-alt);
        font-weight: 700;
        letter-spacing: -1.25px;
    }

    .font-title-app {
        font-family: var(--font-title-app);
        font-weight: 900;
        letter-spacing: -1.25px;
    }

    .font-text-app {
        font-family: var(--font-text);
        font-weight: bold;
        letter-spacing: -0.5px;
    }

    .bg-nav-app {
        background-color: rgba(9, 9, 9, 0.95)
    }

    .border-nav {
        border-bottom: solid 0.1px;
        border-color: rgb(21, 21, 21);
    }

    .border-footer {
        border-top: 0.1px solid;
        border-color: rgb(21, 21, 21);

    }

    .border-aside {
        border-right: solid 0.1px;
        border-color: rgb(21, 21, 21);
    }
    .slick-slide {
      padding-bottom: 5rem !important;
    }
}

@layer base {
    section {
        width: 100%;
    }
    .slick-slide {
      padding-bottom: 5rem !important;
    }
}

/* Ajustes específicos para Safari */
@supports (-webkit-touch-callout: none) {
    .safari-img-container img {
        -webkit-transform: translateZ(0);
        /* Force GPU acceleration */
        -webkit-backface-visibility: hidden;
        /* Prevent rendering artifacts */
    }
}

::-webkit-scrollbar {
    width: 8px;
    background: transparent;
}

::-webkit-scrollbar-thumb {
    background: #1a1a1a;
    border-radius: 8px;
}

::-webkit-scrollbar-thumb:hover {
    background: #333;
}

input:-webkit-autofill {
    box-shadow: 0 0 0 1000px transparent inset !important;
    -webkit-background-fill-color: inherit !important;
    -webkit-text-fill-color: #fff !important;
    transition: background-color 9999s ease-in-out 0s !important;
}